.DetailsInfo {
    background-color: #464141;
    padding: 15px;
}
.DetailsInfo .info_block {
    align-items: center;
}
.DetailsInfo .info_block img {
    width: 40%;
}
.DetailsInfo .detail_info_block {
    list-style: none;
    padding-left: 15px;
}